<h1>Under Construction</h1>
<h3>Stay Tuned for more!</h3>

<p>Sign up to receive an email with updates on the website launch</p>
<form id="signup" action="/signup" method="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

	<div class="row">
  	<input type="text" id="name" name="user[name]" placeholder="Full Name">
	</div>

	<div class="row">
		<input type="text" id="email" name="user[email]" placeholder="Email">
	</div>

	<div class="row">
		<button type="submit" id="submit" class="btn-success" formmethod="post"
			formaction="/signup">Signup!</button>
	</div>
</form>
